/* RESET  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* STYLE */

body {
    font-family: "Roboto", serif;
    background: linear-gradient(270deg, #48e3ff, #1a9ea1, #507fa1);
    background-size: 400% 400%;
    animation: gradient-animation 6s ease infinite;
    padding: 1.25rem;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

/* GENERALS */

.container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.d-none {
    display: none;
}

.row-hero {
    display: flex;
    color: #fff;
    gap: .625rem;
    margin-top: 5rem;
    padding: 0rem 1.25rem;
}

/* HEADER */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, nav {
    padding: 1.25rem;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 1.875rem;
}

.nav ul li {
    display: flex;
    gap: .375rem;
}

.nav ul li a{
    color: #fff;
    font-size: 1.125rem;
    text-decoration: none;
    transition: color .3s ease;
}



.nav ul li i {
    color: #fff;
    font-size: 1.125rem;
    transition: color .3s ease;
}


.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo .name{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    transition: color .3s ease;
}

.img-logo {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: none;
}

/* MAIN */


.col {
   width: 100%;
   display: flex;
}

.about-col {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-work {
    border-radius: 14%;
    display: block;
    max-width: 100%;
    height: auto;
}

h1 > mark {
    color: #213346;
    background-color: transparent;
}

.badge {
    border: 1px solid black;
    border-radius: .625rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background-color: #49e1ff;
    padding: .625rem;
}

.badge > a {
    padding: .625rem 10px;
    text-decoration: none;
    font-weight: bold;
    color: #213346;
}

.about-col p {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

/* FOOTER */

.contact {
    display: flex;
    justify-content: center;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-top: 3.75rem;
}

.contact .btn {
    display: flex;
    gap: .375rem;
}



/* HOVER */

.nav ul li i:hover {
    color: #2bb9f9;
}

.nav ul li a:hover {
    color: #2bb9f9;
}

.logo .name:hover {
    color: #2bb9f9;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {
    .name, .fa-solid {
        display: inline;
    }

    .nav ul {
        gap: 1.25rem;
    }
   
}