/* RESET  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* STYLE */

body {
    font-family: "Roboto", serif;
    background: linear-gradient(270deg, #48e3ff, #1a9ea1, #507fa1);
    background-size: 400% 400%;
    animation: gradient-animation 6s ease infinite;
    padding: 1.25rem;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

/* GENERALS */

.container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.d-none {
    display: none;
}

.row-hero {
    display: flex;
    color: #fff;
    gap: .625rem;
    margin-top: 5rem;
    padding: 0rem 1.25rem;
}

/* HEADER */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, nav {
    padding: 1.25rem;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 1.875rem;
}

.nav ul li {
    display: flex;
    gap: .375rem;
}

.nav ul li a{
    color: #fff;
    font-size: 1.125rem;
    text-decoration: none;
    transition: color .3s ease;
}



.nav ul li i {
    color: #fff;
    font-size: 1.125rem;
    transition: color .3s ease;
}


.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo .name{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    transition: color .3s ease;
}

.img-logo {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: none;
}

/* MAIN */


.col {
   width: 100%;
   display: flex;
}

.about-col {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-col > h1 {
    padding-left: 1.25rem;
}

.img-work {
    border-radius: 14%;
    display: block;
    max-width: 100%;
    height: auto;
}

h1 > mark {
    color: #213346;
    background-color: transparent;
}

.badge {
    border: none;
    border-radius: .625rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background-color: #49e1ff;
    padding: .625rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.5s ease;
}

.badge:hover {
    background-color: #5e49ff;
}

.badge > a {
    padding: .625rem 10px;
    text-decoration: none;
    font-weight: bold;
    color: #213346;
}

.badge-contact {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.badge-hireMe {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
}

.about-col p {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}


/* MAIN PAGE SKILL */

.container-btn {
    max-width: 50rem;
    margin: auto;
}


.container-btn .row-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .625rem;
    margin-top: 4.375rem;
}


.container-btn a {
    text-decoration: none;
    color: #fff;
}

.container-btn .row-btn {
    width: 100%;
}

.container-btn .row-btn .btn {
    width: calc((100% - 20px) / 3)
}

.container-btn .button {
    padding: 1.25rem;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    border: none;
}

/* SKILLS BUTTONS MAIN */

.title-btn {
    text-align: center;
    margin-top: 4.375rem;
}

h1 {
    font-size: 2.125rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff6161, #471b9a, #d034db, #2ecc71);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s infinite ease-in-out;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.row-btn .btn .btn-primary {
    background-color: red;  
    border-radius: .625rem;
    transition: background-color 0.5s ease;
}

.row-btn .btn .btn-primary:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.row-btn .btn .btn-secondary {
    background-color: #0056b3;
    transition: background-color 0.5s ease;
    border: dashed;
    border-color: #fff;
}

.row-btn .btn .btn-secondary:hover {
    cursor: pointer;
    border: none;
    background-color: #25D366;
}


.row-btn .btn .btn-third {
    background: linear-gradient(90deg, #ff6f61, #6a1b9a, #3498db, #2ecc71);
    animation: moveBackground 5s infinite linear;
    border-radius: 3.125rem;
}

@keyframes moveBackground {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100%  {
        background-position: 0% 50%;
    }
}

.row-btn .btn .btn-third:hover {
    transform: translateY(2px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.row-btn .btn .btn-fourth > a {
    color: #000;
}

.row-btn .btn .btn-fourth {
    background-color: yellow;
    border-radius: 1.25rem;
    transition: background-color 0.5s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.row-btn .btn .btn-fourth:hover {
    background-color: rgb(210, 200, 0);
    cursor: pointer;
}

.row-btn .btn .btn-fifth > a {
    color: #000;
}

.row-btn .btn .btn-fifth{
    background-color: #f10fd3;
    transition: background-color 0.5s ease;
    border-radius: 3.125rem;
}

.row-btn .btn .btn-fifth:hover {
    background-color: #0fadf1;
    cursor: pointer;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.row-btn .btn .btn-sixth {
    background-color: chocolate;
    transition: background-color 0.5s ease;
}

.row-btn .btn .btn-sixth:hover {
    background-color: rgb(210, 42, 30);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* MAIN SKILLS IMG */

hr {
    margin: 3.125rem 0;
}

.title-img {
    display: flex;
    justify-content: center;
    margin-bottom: 3.125rem;
}

.images {
    display: flex;
    justify-content: center;
}

.carousel {
    max-width: 80%;
    position: relative;
    overflow: hidden;
    border-radius: .625rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
    height: 31.25rem;
}

.carousel .carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: .625rem;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.25rem;
    font-weight: bold;
}


/* MAIN PAGE CONTACT */

.container-contact {
    max-width: 62.5rem;
    margin: auto;
    margin-top: 5.625rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.container-contact .btn {
    display: flex;
    gap: .625rem;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 1.25rem;
}


.container-contact .btn a {
    text-decoration: none;
}

.container-contact form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
}

.container-contact form input {
    display: block;
    margin-top: .625rem;
    padding: .625rem;
    border-radius: .625rem;
    border: none;
}

.container-contact form textarea {
    display: block;
    margin-top: .625rem;
    padding: .625rem;
    border-radius: .625rem;
    border: none;
}

.container-contact form label {
    font-size: 1.25rem;
    font-weight: bold;
}

.container-contact form .comment {
    width: 100%;
}

.container-contact form .comment > textarea{
    width: 100%;
    min-height: 12.5rem;
    font-size: 1.5rem;
}

.container-contact form .checkbox {
    display: flex;
    align-items: baseline;
    gap: .625rem;
}

.container-contact form .check-box {
    width: 1.25rem;
    height: 1.25rem;
}

.container-contact form button {
    padding: 1.25rem;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: bold;
}

.container-contact form button:hover {
    background-color: #0056b3;
    color: #fff;
    transition: background-color 0.5s ease;
}

.container-contact .add-comment {
    background-color: #fff;
    padding: .625rem;
    border-radius: .625rem;
    font-size: 18px;   
}

.container-contact .add-comment h2 {
    text-align: center;
    font-size: 1.25rem;
}

/* MAIN PAGE ABOUT */

.title-about {
    text-align: center;
    margin-top: 3.125rem;
}

.text-me {
    margin-top: 1.875rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
    
}

.image-about {
    margin-top: 1.875rem;
    display: flex;
    justify-content: center;
}

.image-about img {
    border-radius: 1.875rem;
    max-width: 80%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* FOOTER */

.contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3.75rem;
    gap: 1.25rem;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 1.25rem;
}

.contact .btn {
    display: flex;
    gap: .5rem;
    font-size: 1.25rem;
}

.btn .fa-facebook {
    color: #3b5998;
}

.btn .fa-instagram {
    color: #8134AF;
}

.btn .fa-whatsapp {
    color: #25D366;
}

.btn .fa-tiktok {
    color: #010101;
}

.btn .fa-linkedin {
    color: #0e76e8;
}

.btn a {
    text-decoration: none;
    color: black;
}

/* HOVER */

.nav ul li i:hover {
    color: #2bb9f9;
}

.nav ul li a:hover {
    color: #2bb9f9;
}

.logo .name:hover {
    color: #2bb9f9;
}

/* HOVER SOCIAL-MEDIA */

.btn .facebook:hover {
    color: #3b5998;
    font-weight: bold;
}

.btn .instagram:hover {
    color: #8134AF;
    font-weight: bold;
}

.btn .whatsapp:hover {
    color: #25D366;
    font-weight: bold;
}

.btn .tik-tok:hover {
    color: #010101;
    font-weight: bold;
}

.btn .linkedin:hover {
    color: #3b5998;
    font-weight: bold;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {
    .name, .fa-solid {
        display: inline;
    }

    .nav ul {
        gap: .625rem;
    }

    .contact {
        display: flex;
        justify-content: space-evenly;
    }
   
    .btn a {
        display: inline-block;
    }

}

@media screen and (max-width: 768px) {
    .row-hero {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .badge-hireMe {
        font-size: 1rem;
    }

    .nav ul li a {
        font-size: .875rem;
    }


    .nav ul {
        gap: 1rem;
    }

    
}